[submodule "packages/laravel-fake-cartoons"]
	path = packages/laravel-fake-cartoons
	url = git@github.com:jeffersongoncalves/laravel-fake-cartoons.git
	branch = master
[submodule "packages/laravel-whatsapp-widget"]
	path = packages/laravel-whatsapp-widget
	url = git@github.com:jeffersongoncalves/laravel-whatsapp-widget.git
	branch = master
[submodule "packages/laravel-cookie-consent"]
	path = packages/laravel-cookie-consent
	url = git@github.com:jeffersongoncalves/laravel-cookie-consent.git
	branch = master
[submodule "packages/laravel-created-by"]
	path = packages/laravel-created-by
	url = git@github.com:jeffersongoncalves/laravel-created-by.git
	branch = master
[submodule "packages/laravel-umami"]
	path = packages/laravel-umami
	url = git@github.com:jeffersongoncalves/laravel-umami.git
	branch = master
[submodule "packages/laravel-plausible"]
	path = packages/laravel-plausible
	url = git@github.com:jeffersongoncalves/laravel-plausible.git
	branch = master
[submodule "packages/laravel-matomo"]
	path = packages/laravel-matomo
	url = git@github.com:jeffersongoncalves/laravel-matomo.git
	branch = master
[submodule "packages/laravel-pixel"]
	path = packages/laravel-pixel
	url = git@github.com:jeffersongoncalves/laravel-pixel.git
	branch = master
[submodule "packages/laravel-gtag"]
	path = packages/laravel-gtag
	url = git@github.com:jeffersongoncalves/laravel-gtag.git
	branch = master
[submodule "packages/laravel-gtm"]
	path = packages/laravel-gtm
	url = git@github.com:jeffersongoncalves/laravel-gtm.git
	branch = master
[submodule "packages/laravel-fathom"]
	path = packages/laravel-fathom
	url = git@github.com:jeffersongoncalves/laravel-fathom.git
	branch = master
[submodule "packages/laravel-cep"]
	path = packages/laravel-cep
	url = git@github.com:jeffersongoncalves/laravel-cep.git
	branch = master
[submodule "packages/filament-refresh-sidebar"]
	path = packages/filament-refresh-sidebar
	url = git@github.com:jeffersongoncalves/filament-refresh-sidebar.git
	branch = 1.x
[submodule "packages/filament-hidden-action"]
	path = packages/filament-hidden-action
	url = git@github.com:jeffersongoncalves/filament-hidden-action.git
	branch = 1.x
[submodule "packages/filament-multifactor-whatsapp"]
	path = packages/filament-multifactor-whatsapp
	url = git@github.com:jeffersongoncalves/filament-multifactor-whatsapp.git
	branch = 1.x
[submodule "packages/filament-ace-editor-field"]
	path = packages/filament-ace-editor-field
	url = git@github.com:jeffersongoncalves/filament-ace-editor-field.git
	branch = 1.x
[submodule "packages/filament-topbar"]
	path = packages/filament-topbar
	url = git@github.com:jeffersongoncalves/filament-topbar.git
	branch = 2.x
[submodule "packages/filament-keyable"]
	path = packages/filament-keyable
	url = git@github.com:jeffersongoncalves/filament-keyable.git
	branch = 2.x
[submodule "packages/filament-logo"]
	path = packages/filament-logo
	url = git@github.com:jeffersongoncalves/filament-logo.git
	branch = 2.x
[submodule "packages/filament-cep-field"]
	path = packages/filament-cep-field
	url = git@github.com:jeffersongoncalves/filament-cep-field.git
	branch = 2.x
[submodule "packages/filament-qrcode-field"]
	path = packages/filament-qrcode-field
	url = git@github.com:jeffersongoncalves/filament-qrcode-field.git
	branch = 2.x
[submodule "packages/filament-one-time-operations"]
	path = packages/filament-one-time-operations
	url = git@github.com:jeffersongoncalves/filament-one-time-operations.git
	branch = 2.x
[submodule "packages/filament-whatsapp-widget"]
	path = packages/filament-whatsapp-widget
	url = git@github.com:jeffersongoncalves/filament-whatsapp-widget.git
	branch = 2.x
[submodule "packages/filament-cookie-consent"]
	path = packages/filament-cookie-consent
	url = git@github.com:jeffersongoncalves/filament-cookie-consent.git
	branch = 2.x
[submodule "packages/filament-check-whois-widget"]
	path = packages/filament-check-whois-widget
	url = git@github.com:jeffersongoncalves/filament-check-whois-widget.git
	branch = 2.x
[submodule "packages/filament-umami"]
	path = packages/filament-umami
	url = git@github.com:jeffersongoncalves/filament-umami.git
	branch = 2.x
[submodule "packages/filament-plausible"]
	path = packages/filament-plausible
	url = git@github.com:jeffersongoncalves/filament-plausible.git
	branch = 2.x
[submodule "packages/filament-matomo"]
	path = packages/filament-matomo
	url = git@github.com:jeffersongoncalves/filament-matomo.git
	branch = 2.x
[submodule "packages/filament-pixel"]
	path = packages/filament-pixel
	url = git@github.com:jeffersongoncalves/filament-pixel.git
	branch = 2.x
[submodule "packages/filament-gtag"]
	path = packages/filament-gtag
	url = git@github.com:jeffersongoncalves/filament-gtag.git
	branch = 2.x
[submodule "packages/filament-gtm"]
	path = packages/filament-gtm
	url = git@github.com:jeffersongoncalves/filament-gtm.git
	branch = 2.x
[submodule "packages/filament-fathom"]
	path = packages/filament-fathom
	url = git@github.com:jeffersongoncalves/filament-fathom.git
	branch = 2.x
[submodule "packages/laravel-service-desk"]
	path = packages/laravel-service-desk
	url = git@github.com:jeffersongoncalves/laravel-service-desk.git
	branch = master
